[submodule "libs/SingulinkFX"]
	path = libs/SingulinkFX
	url = https://github.com/Singulink/SingulinkFX.git
[submodule "libs/DSharpPlus"]
	path = libs/DSharpPlus
	url = https://github.com/DSharpPlus/DSharpPlus.git
